body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font: 12pt Arial;
    line-height: 1.2;
}
.header{
    width:100%;

}
ul, li{
    font-size: 12pt;
}
h3 {
    font-size: 15pt;
    font-weight: bold;
    width: 100%;
    border-bottom: 1px solid;
    color: rgb(0,109,85);
}
.Critical{
    background-color:#ff4d4d;
    font-weight: bold;
    font-size:10pt;
}
.Medium{
    background-color:#FF8C00;
    font-weight: bold;
    font-size:10pt;
}
.High{
    background-color:#FA8072;
    font-weight: bold;
    font-size:10pt;
}
.Low{
    background-color:#99e699;
    font-weight: bold;
    font-size:10pt;
}
p {
    text-align: justify;
    font: Arial;
}
li {
    margin: 10px 0;
}
.vuln-table{
    word-break:break-all; /* breaks words in cpe column. otherwise it looked ugly*/
    page-break-after: always;
}
#table_div{
    margin-left:10px;
    margin-right:10px;
    padding:10px;
}
table {
    margin-right:20px;
    border-collapse: collapse;
    overflow-wrap: break-word;
    width:100%;
    max-width: 850px; 
    border: 1px solid black;
    font-size: 8pt;
}
td {
    height: 20px;
    border: 1px solid black;
    font-size: 8pt; 
 }
tr{
    page-break-inside: avoid; /* life saver!!! makes tables split rows normally*/
    display: "inline-table" ;
}
th{
    font-size: 10pt;
    border: 1px solid black;   
}
#first_page_logo { 
    margin-left: -15mm;
    margin-top:-10mm;
    width: 125%;
    padding:0px;
}
.page-break{
    padding-top:50px;
    margin-left:20px;
    margin-right:20px;
    page-break-before:always;
}
.page {
    width: 85%;
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 10mm auto;
}

.title_page_footer { /* date on the title page*/
    color: rgb(0,109,85);
    width: 100%;
    top: 450px;
    position: relative;
    text-align: center;
    margin: 0;
    font-size: 10pt Arial;
}

@media print {

    #first_page_logo { /* title img id */
        margin-left: -15mm;
        margin-top:-10mm;
        width: 210mm;
    }

}
